img {
	width: 75%;
	height: auto;
	margin-left: auto;
	margin-right: auto;
	margin-top: 20px;
	margin-bottom: 20px;
	display: block;
	border-radius: 5px;
}

.thumbnail{
	border-radius: 10px;
	width: 90%;
	margin-left: auto;
	margin-right: auto;
	margin-top: 0px;
}

.description{
	margin-left: 15px;
	font-family: 'Black Ops One', cursive;
}

h2{
	margin-top: 10px;
	font-family: 'Black Ops One', cursive;
	font-size: 50px;
}

.jumbotron{
	padding-top: 10px;
	margin-top: 0px;
}

#container2{
	margin-top:55px;
}

nav{
	font-size: 20px;
	font-family: 'Black Ops One', cursive;
}

.navbar-brand{
	font-size: 35px;
	margin-top: 0px;
}

#brand{
	color: white;
}

li{
	font-size: 28px;
}

